<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/viewerStyle.css">
    <script src="./novelData.js"></script>
</head>
<body>
<div id="wrap">
    <div class="container">
        <div class="viewer_option">
            <div class="upper">
                <div class="left_menu">
                    <a href="javascript:history.back()">
                        <img src="/img/white_back.png" alt="back">
                    </a>
                </div>
                <div class="middle_title">
                    <div th:text="${episode.title}"></div>
                </div>
                <div class="right_menu">
                    <a href="#">
                        <img src="/img/alpabet.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/coupon.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/servey.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/white_gong.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/bookmark.png" alt="">
                    </a>
                </div>
            </div>
            <div class="bottom">
                <div class="left_menu">
                    <a href="#">
                        <img src="/img/white_ddabong.png" alt="">
                    </a>
                    <a href="#" style="margin-left: 16px;">
                        <img src="/img/white_star.png" alt="">
                    </a>
                    <a href="#" style="margin-left: 16px;">
                        <img src="/img/white_talk.png" alt="">
                        <span>0</span>
                    </a>
                </div>
                <div class="middle_moving">
                    <a th:if="${prevEpno != null}" th:href="@{/viewer/{epno}(epno=${prevEpno})}">
                        <img src="/img/white_prev.png" alt="">
                        <span>이전화</span>
                    </a>
                    <a th:if="${nextEpno != null}" th:href="@{/viewer/{epno}(epno=${nextEpno})}" style="margin-left: 24px;">
                        <span>다음화</span>
                        <img src="/img/white_next.png" alt="">
                    </a>
                </div>
                <div class="right_menu">
                    <a href="#">
                        <img src="/img/white_list.png" alt="">
                        <span>목록</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="view_window">
            <div class="real_view">
                <div class="episode">
                    <p th:utext="${#strings.replace(#strings.replace(episode.content, '\r\n', '<br/>'), '\n', '<br/>')}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/viewerJava.js"></script>
</body>
</html>