<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/04.loginhaera.css">
</head>
<body>
<div id="wrap">
    <header>
        <div class="header_line">
            <div class="inner">
                <div class="prev">
                    <a href="/" >
                        <img src="/img/back.png" alt="back">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="box">
        <div class="login_box">
            <div class="title">
                <img src="/img/login_pyoji.png" alt="">
            </div>
            <form action="/login" method="post">
                <input type="text" placeholder="이메일 입력하세요" name="email" id="email" class="login_info1">
                <input type="password" placeholder="비밀번호를 입력하세요" name="pwd" id="pwd" class="login_info1">
                <input type="submit" value="로그인" class="submit1">
            </form>
            <div class="util_zone">
                <ul>
                    <li>
                        <a href="#">
                            아이디 찾기
                        </a>
                    </li>
                    <li class="middle">
                        <a href="#">
                            비밀번호 재설정
                        </a>
                    </li>
                    <li class="back">
                        <a th:href="@{/register}" class="join">
                            회원가입
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/js/04.loginhaera.js"></script>
</body>
</html>